/*=========================*/
/* СТИЛИ ОСНОВНОЙ СТРАНИЦЫ */
/*=========================*/

header {
	margin-bottom: 20px;
}

.logo {
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.logo .b {
	color: #0464F1;
}

.logo .m {
	color: #ADD9D3;
}

.logo:hover {
	text-decoration: none;
	color: black;
}

.logo > p {
	margin: 0;
	padding: 0;
}

.row-books > div:nth-child(n) {
	padding: 10px;
}

.iimg {
	width: 100%;
}

.about-itm {
    display: flex;
    flex-direction: column;
}

.about-itm .book-title {
	color: #007bff;
}

.about-itm .book-author {
	color: #007bff;
	margin-bottom: 20px;
}

.about-itm .genre {
	margin-bottom: 20px;
}

/*=========================*/
/* СТИЛИ СТРАНИЦЫ С КНИГОЙ */
/*=========================*/

.about-book {
	margin-bottom: 30px;
}

.about-book .book-img .iimg {
	margin-bottom: 25px;
}

.about-book .book .book-title {
	color: #007bff;
}

.about-book .book .book-author {
	color: #007bff;
	margin-bottom: 25px;
}

.original-book-title {
	margin-bottom: 0;
}

.original-book-title-label {
	color: gray;
}

.about-book .book .genre {
	margin-bottom: 0;
}

.about-book .book .genre a {
	color: black;
	text-decoration: underline;
}

.about-book .book .genre a:hover {
	color: #007bff;
	text-decoration: underline;
}

.about-book .book .genre-label {
	color: gray;
}

.about-book .book .book-series {
	margin-bottom: 0;
}

.about-book .book .book-series a {
	color: black;
	text-decoration: underline;
}

.about-book .book .book-series a:hover {
	color: #007bff;
	text-decoration: underline;
}

.book-series-label {
	color: gray;
}

.book-series-number {
	margin-bottom: 0;
}

.book-series-number-label {
	color: gray;
}

.about-book .book .book-year {
	margin-bottom: 0;
}

.about-book .book .book-year-label {
	color: gray;
}

.about-book .book .isbn {
	margin-bottom: 25px;
}

.about-book .book .isbn-label {
	color: gray;
}

.about-book .book .book-annotation-label {
	margin-bottom: 10px;
	color: gray;
}

.about-book .book .book-annotation-text {
	margin-bottom: 25px;
}

/*=========================*/
/*       МЕДИАЗАПРОСЫ      */
/*=========================*/

@media (max-width: 576px) {
	.book-title, .book-author {
		text-align: center;
	}
	.next  {
		justify-content: center;
	}
	.taptodwn {
		justify-content: center;
	}
}
