	/*=========================*/
	/* СТИЛИ ОСНОВНОЙ СТРАНИЦЫ */
	/*=========================*/

header {
	margin-bottom: 20px;
}

.logo {
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.logo .b {
	color: #0464F1;
}

.logo .m {
	color: #ADD9D3;
}

.logo:hover {
	text-decoration: none;
	color: black;
}

.logo > p {
	margin: 0;
	padding: 0;
}

.row-books > div:nth-child(n) {
	padding: 10px;
}

.book-img .iimg {
	width: 100%;
}

.about-itm {
    display: flex;
    flex-direction: column;
}

.about-itm .book-title {
	color: #007bff;
}

.about-itm .book-title a:hover {
	text-decoration: none;
}

.about-itm .book-author {
	color: #007bff;
	margin-bottom: 20px;
}

.about-itm .book-author a:hover {
	text-decoration: none;
}

.about-itm .genre {
	margin-bottom: 20px;
}

.about-itm .genre a {
	color: black;
	text-decoration: underline;
}

.about-itm .genre a:hover {
	color: #007bff;
}

.annotation {
	overflow: hidden;
	max-height: calc(1.5em * 8)

}

	/*=========================*/
	/* СТИЛИ СТРАНИЦЫ С КНИГОЙ */
	/*=========================*/

.about-book {
	margin-bottom: 30px;
}

.about-book .book-img {
	margin-bottom: 25px;
}

.about-book .book-img .iimg {
	width: 100%;
}

.about-book .book-description .book-title {
	color: #007bff;
}

.about-book .book-description .book-author {
	color: #007bff;
	margin-bottom: 25px;
}

.about-book .book-description .book-author a:hover{
	text-decoration: none;
}

.about-book .book-description .original-book-title {
	margin-bottom: 0;
}

.about-book .book-description .original-book-title-label {
	color: gray;
}

.about-book .book-description .original-book-language {
	margin-bottom: 0;
}

.about-book .book-description .original-book-language-label {
	color: gray;
}

.about-book .book-description .genre {
	margin-bottom: 0;
}

.about-book .book-description .genre a {
	color: black;
	text-decoration: underline;
}

.about-book .book-description .genre a:hover {
	color: #007bff;
}

.about-book .book-description .genre-label {
	color: gray;
}

.about-book .book-description .book-series {
	margin-bottom: 0;
}

.about-book .book-description .book-series a {
	color: black;
	text-decoration: underline;
}

.about-book .book-description .book-series a:hover {
	color: #007bff;
}

.about-book .book-description .book-series-label {
	color: gray;
}

.about-book .book-description .book-series-number {
	margin-bottom: 0;
}

.about-book .book-description .book-series-number-label {
	color: gray;
}

.about-book .book-description .book-year {
	margin-bottom: 0;
}

.about-book .book-description .book-year-label {
	color: gray;
}

.about-book .book-description .isbn {
	margin-bottom: 0;
}

.about-book .book-description .isbn-label {
	color: gray;
}

.about-book .book-description .book-language {
	margin-bottom: 25px;
}

.about-book .book-description .book-language-label {
	color: gray;
}

.about-book .book-description .book-annotation-label {
	color: gray;
	margin-bottom: 10px;
}

.about-book .book-description .book-annotation-text {
	margin-bottom: 10px;
}

#book-annotation-last-text {
	margin-bottom: 25px;
}

	/*=========================*/
	/*СТИЛИ СТРАНИЦЫ С АВТОРОМ */
	/*=========================*/

.about-author {
	margin-bottom: 30px;
}

.about-author .author-img {
	margin-bottom: 25px;
}

.about-author .author-img .iimg {
	width: 100%;
}

.about-author .author-description .author-title {
	color: #007bff;
	margin-bottom: 25px;
}

.about-author .author-description .author-birth {
	margin-bottom: 0;
}

.about-author .author-description .author-birth-label {
	color: gray;
}

.about-author .author-description .author-location {
	margin-bottom: 0;
}

.about-author .author-description .author-location-label {
	color: gray;
}

.about-author .author-description .author-activity {
	margin-bottom: 0;
}

.about-author .author-description .author-activity-label {
	color: gray;
}

.about-author .author-description .author-genre {
	margin-bottom: 0;
}

.about-author .author-description .author-genre  a{
	color: black;
	text-decoration: underline;
}

.about-author .author-description .author-genre  a:hover{
	color: #007bff;
}

.about-author .author-description .author-genre-label {
	color: gray;
}

.about-author .author-description .author-language {
	margin-bottom: 25px;
}

.about-author .author-description .author-language-label {
	color: gray;
}

.about-author .author-description .author-biography-label {
	color: #007bff;
	margin-bottom: 10px;
}

.about-author .author-description .author-biography-text {
	margin-bottom: 10px;
}

#author-biography-last-text {
	margin-bottom: 25px;
}

.about-author .author-description .author-bibliography-label {
	color: #007bff;
	margin-bottom: 10px;
}

.about-author .author-description .author-bibliography-book {
	margin-bottom: 5px;
}

.about-author .author-description .author-bibliography-book a{
	color: black;
	text-decoration: underline;
}

.about-author .author-description .author-bibliography-book a:hover{
	color: #007bff;
}

	/*=========================*/
	/*       МЕДИАЗАПРОСЫ      */
	/*=========================*/

@media (max-width: 576px) {

	/*================================*/
	/* МЕДИАЗАПРОСЫ ОСНОВНОЙ СТРАНИЦЫ */
	/*================================*/

	.book-title, .book-author {
		text-align: center;
	}
	.next  {
		justify-content: center;
	}

	/*================================*/
	/* МЕДИАЗАПРОСЫ СТРАНИЦЫ С КНИГОЙ */
	/*================================*/

	.taptodwn {
		justify-content: center;
	}

	/*================================*/
	/*МЕДИАЗАПРОСЫ СТРАНИЦЫ С АВТОРОМ */
	/*================================*/

	.author-title {
		text-align: center;
	}
}
