header {
	margin-bottom: 20px;
}

.logo {
	font-size: 40px;
	color: black;
	text-decoration: none;
}

.logo .b {
	color: #0464F1;
}

.logo .m {
	color: #ADD9D3;
}

.logo:hover {
	text-decoration: none;
	color: black;
}

.logo > p {
	margin: 0;
	padding: 0;
}

.test {
	background-color: orange;
	height: 140px;
}

.tests {
	background-color: blue;
	height: 140px;
}

.iimg {
	width: 100%;
}

.row-books > div:nth-child(n) {
	padding: 10px;
}

.row-books .about-itm > h4 {
	color: #007bff;
}

.row-books .about-itm > h3 {
	color: #007bff;
}

.about-book {
	margin-bottom: 30px;
}

.about-book .book h4 {
	color: #007bff;
}

.about-book .book h3 {
	color: #007bff;
}

.about-book .book-img .iimg {
	margin-bottom: 25px;
}